body {
    background: url("/images/bg.png") repeat scroll 0 0 #EDEDED;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    outline: 0 none;
    padding: 0;
}